{% extends "base.html.twig" %}

{% block body %}

    <div class="row">
        <div class="col-md-5">
            <center><h1>ADD ALBUM</h1></center>
            {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
        </div>
    </div>

{% endblock %}