{{ form_start(form, {
    'attr': {'action': path('handleSearch')}
}) }}

{{ form_widget(form.search, {
    'attr': {'class': 'form-control search-query', 'placeholder': 'Search album'}
}) }}

{{ form_end(form) }}